@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,200&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  color: aliceblue;
  font-family: "Poppins", sans-serif;
  background: rgb(2, 0, 36);
  background: Radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.clock {
  background-color: black;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 6px solid rgb(164, 200, 232);
  box-shadow: 0 0 20px aliceblue, 0px 0px 30px rgb(216, 114, 216);
  font-size: 25px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.clock ul li {
  list-style: none;
  position: absolute;
  text-align: center;
  transform: rotate(calc(30deg * var(--i)));
  inset: 10px;
}
.clock ul li span {
  transform: rotate(calc(-30deg * var(--i)));
  display: inline-block;
}

.clock:after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: azure;
  border-radius: 50%;
  position: absolute;
}
.needle {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.hours span {
  width: 5px;
  height: 80px;
  background-color: rgb(0, 98, 255);
  position: absolute;
  border-radius: 5px;
}
.minute span {
  width: 5px;
  height: 100px;
  background-color: white;
  position: absolute;
  border-radius: 5px;
}
.seconds span {
  width: 5px;
  height: 120px;
  background-color: rgb(237, 15, 15);
  position: absolute;
  border-radius: 5px;
}
